<div id="<%= dom_id resturant %>">
  <p>
    <strong>Name:</strong>
    <%= resturant.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= resturant.location %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= resturant.phone %>
  </p>

  <p>
    <strong>Food type:</strong>
    <%= resturant.food_type %>
  </p>

  <p>
    <strong>Somo:</strong>
    <%= resturant.somo %>
  </p>

</div>
